*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.workspace-body{
    height: 100vh;
    max-width: 500px;
    width: 100%;
    background: #0f0f0f;
    padding: 2rem;
    border-left: 1px solid lightgrey;
    height: 100%;
}

.workspace-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: white;
}

.workspace-header h1{
    font-size: 1.2rem;
}

.workspace-icons i{
    font-size: 1.2rem;
    cursor: pointer;
}

.workspace-container{
    background: white;
    border: 1px solid lightgray;
    color: black;
    padding: 30px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
}

.workspace-tabBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid rgba(229,229,229);
    margin-bottom: 1.5rem;
    
    
}

.workspace-tabBtn{
    position: relative;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    background: transparent;
    cursor: pointer;
    transition: 0.5s;
}
.workspace-tabBtn.work-active{
    border-bottom: 2px solid #5A4BFF;
}

.workspace-tabBtn.work-active::before{
    position: absolute;
    content: '';
    display: block;
    left: 4px;
    top: 12px;
    width: 10px;
    height: 10px;
    background: #5A4BFF;
    border-radius: 50%;
}

.workspace-tabBtn:hover{
    border-bottom: 2px solid #5A4BFF;
}

.workspace-contentBox{
    width: 100%;
}

.workspace-content{
    max-width: 900px;  
    width: 100%;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: 0px;
    scroll-behavior: smooth;
   
}
